<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<body>
<h1>中国联通</h1>
<div>
    <span style="color:red">时间:</span>
    <span>2022-11-11</span>
</div>
<div>
    中国联通网络通信集团有限公司（“简称中国联通”）于2009年1月6日由原中国网通和原中国联通合并重组而成
    <a href="http://www.baidu.com"; target="_blank">点我打开百度搜索</a>通过target标签，重新打开一个页面跳转而不是页面内跳转
    <a href="Django-web-study/templates/get/news">打开我的网站</a>
    <div>
    <img style="height: 300px ;width: 300px" src="https://pic1.zhimg.com/80/v2-0d33461996f1d353a588b0a5d0f2329a_720w.jpg?source=1940ef5c">
    <img style="height: 300px" src="/static/白毛吸血鬼.jpg">如果想放自己的图片，在flack中要放置在static文件夹中
    </div>
</div>
<h3>云南移动</h3>
<div>你好world</div>#独占一行#块级标签
<div></div>
<span>你好</span><span>world</span>#需要多少占据多数#行内标签
</body>
</html>