<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的联通</title>
</head>
<tbody>
<h1>中国联通</h1>
<div>
    <span style="color:red">时间:</span>
    <span>2022-11-11</span>
</div>
<div>
    中国联通网络通信集团有限公司（“简称中国联通”）于2009年1月6日由原中国网通和原中国联通合并重组而成
    <a href="http://www.baidu.com"; target="_blank">点我打开百度搜索</a>通过target标签，重新打开一个页面跳转而不是页面内跳转
    <a href="Django-web-study/templates/get/news">打开我的网站</a>
    <div>
    <img style="height: 300px ;width: 300px" src="https://pic1.zhimg.com/80/v2-0d33461996f1d353a588b0a5d0f2329a_720w.jpg?source=1940ef5c">
    <img style="height: 300px" src="/static/白毛吸血鬼.jpg">如果想放自己的图片，在flack中要放置在static文件夹中
    </div>
</div>
<h1>表格</h1>
<table border="1" >
    <thead>
    <tr>
        <td>ID</td>
        <td>姓名</td>
        <td>性别</td>
        <td>年龄</td>
        <td>政治面貌</td>

    </tr>
    </thead>


    <tbody >
    <tr>
        <td>20211120007</td>
        <td>王泽平</td>
        <td>男</td>
        <td>19</td>
        <td>群众</td>

    </tr>
    <tr>
        <td>20211120044</td>
        <td>王志强</td>
        <td>男</td>
        <td>30</td>
        <td>党员</td>

    </tr>
    <tr>
        <td>20211124563</td>
        <td>唐家风</td>
        <td>女</td>
        <td>18</td>
        <td>群众</td>

    </tr>
    <tr>
        <td>20211120074</td>
        <td>冯晓晨</td>
        <td>女</td>
        <td>18</td>
        <td>团员</td>

    </tr>
    </tbody>
</table>
<h1>有序列表</h1>
<ol>
  <li>第一项</li>
  <li>第二项</li>
  <li>第三项</li>
</ol>
<h1>输入内容</h1>
<input type="text">
<h1>输入密码</h1>
<input type="password">
<h1>选择文件</h1>
<input type="file">
<h1>单选框</h1>
<input type="radio" name="n1">男
<input type="radio" name="n1">女
<h1>复选框</h1>
篮球<input type="checkbox">
足球<input type="checkbox">
羽毛球<input type="checkbox">
网球<input type="checkbox">
<h1>按钮</h1>
<input type="button" value="登录">-->普通按钮
<input type="submit" value="注册">-->提交表单
<h1>下拉框</h1>
<select>
    <option>北京</option>
    <option>上海</option>
    <option>深圳</option>
    <option>苏州</option>

</select>
<h1>多选下拉框</h1>
<select multiple>
    <option>北京</option>
    <option>上海</option>
    <option>深圳</option>
    <option>苏州</option>

</select>
<h1>多行文本</h1>
<textarea rows="3"></textarea>
<h3>云南移动</h3>
<div>你好world</div>#独占一行#块级标签
<div></div>
<span>你好</span><span>world</span>#需要多少占据多数#行内标签
</body>
</html>