<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="/static/common.css">
</head>
<body>
<span class="xx">用户注册</span>
<div >
  用户名：<input type="text">


</div>
<div>
  密码：<input type="password">
</div>
<div>
  性别：
    <input type="radio" name="1">男
    <input type="radio" name="1">女
</div>
<div>
  爱好：
    <input type="checkbox" >篮球
    <input type="checkbox" >足球
    <input type="checkbox" >乒乓球

</div>
<div>
  你所在的城市：
    <select>
        <option>北京</option>
        <option>上海</option>
        <option>广州</option>
        <option>深圳</option>
        <option>其他</option>

    </select>
</div>
<div>
  你擅长的领域：
    <select multiple>
        <option>后端</option>
        <option>美术</option>
        <option>后期</option>
        <option>宣发</option>
        <option>前端</option>

    </select>
</div>
<div>
    备注：<textarea rows="3"></textarea>
</div>
<div>
    <input type="button" value="提交  ">
</div>

</body>
</html>